<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>501583719435-drsl4491384n23fcs8voja6u74v3t59g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.501583719435-drsl4491384n23fcs8voja6u74v3t59g</string>
	<key>API_KEY</key>
	<string>AIzaSyA0b_nGiSFPy9Br_z0sHJph8eHZEPtFBnE</string>
	<key>GCM_SENDER_ID</key>
	<string>501583719435</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rellaiFrontend</string>
	<key>PROJECT_ID</key>
	<string>rellai</string>
	<key>STORAGE_BUCKET</key>
	<string>rellai.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:501583719435:ios:7657e9f9daf0b1923f2b0e</string>
</dict>
</plist>